<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/base :: layout(~{::body}, 'List Member')}">
<body>
<div th:fragment="body">
    <div th:replace="~{section/title :: section-title('List Member', 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.')}"></div>

    <!-- content about us -->
    <div class="container mx-auto flex flex-col gap-4">
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
            <li th:each="member : ${members}" class="bg-white rounded-lg shadow-md p-5">
                <a th:href="@{/members/{id}(id=${member.id})}">
                    <span th:text="${member.name}"></span>
                    <br>
                    <span th:text="${member.email}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>