<div th:fragment="frontpage-hero" class="hero-container py-5 md:py-10 lg:py-10" style="background: linear-gradient(180deg, rgba(238, 242, 242, 0.00) 0%, #EEF2F2 100%);">
    <div class="hero container mx-auto flex flex-col items-center justify-center gap-5">
        <h1 class="text-3xl max-w-[850px] text-[#005C53] text-[74px] font-bold mt-10 text-center">Cari Barang yang anda butuhkan di toko kami</h1>
        <p class="text-center max-w-[435px] text-[#656877] text-[16px] font-normal">Mencari prodak yang berkualitas dan bagus ? itu semua ada pada toko kami, yuk, di cek prodaknya</p>
        <div class="action-button flex justify-center gap-4">
            <a href="#" class="bg-[#005C53] text-white rounded-2xl px-4 py-2">Lihat Produk</a>
            <a href="#" class="bg-[#005C53] text-white rounded-2xl px-4 py-2">Contact Us</a>
        </div>
    </div>
</div>